button {
    border: none;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

h1 {
    display: flex;
    justify-content: center;
}


.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}


.gallery img {
    width: 30%;
    cursor: pointer;
}

/* Estilos del modal */


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: flex;
    left: 20%;
    width: 80%;
    max-width: 800px;
    max-height: 80%;
}


.close {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}


.flechas img {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}